<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Loteria</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        main {
            width: 100dvw;
            height: 100dvh;
            user-select: none;
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
    <body>
        <main>
            <h1>
                API Loteria
            </h1>
            <a 
                href="https://loteria.lalunainsky.com/"
                target="_self"
            >
                Ir para o Frontend da Loteria
            </a> 
        </main>
    </body>
</html>